* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	letter-spacing:1.5px;
}


h1 {
	text-transform: capitalize;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;

}

h3 {
	text-transform: capitalize;
	font-size: 22px;
}

p {
	font-size: 16px;
	line-height: 23px;
}

.justify-content {
	width: 1100px;
}

.projects {
	width: 1100px;
}

a {
    text-decoration: none;
	color: black;
	text-transform: capitalize;
}

.about-link:hover {
	color: #d57cbe;
    font-weight: bold;	
}

.work-link:hover {
	color: #e9a7a5;
    font-weight: bold;	
}

.contact-link:hover {
	color: #f9c97f;
    font-weight: bold;	
}

.cv {
    padding: 10px 12px;
    border-width: 2px 2px 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #ffffff;
}

.cv:hover {
    font-weight: bold;	
}

.page-nav a {
	margin-left: 50px;
}

nav section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

nav {
	padding-left: 30px;
	padding-right: 30px;
}

header {
	background-color: #ffffff;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	margin-left: 115px;
}

.about {
	height: 400px;
	background-color: #f0f3f4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.about-info {
	padding-left: 70px;
}

.about img {
	height: 300px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 50px 0 85px 50px;
  
  }

  .project {
    display: inline-block;
	margin-right: 50px;
  }
  
 .scrolling-wrapper img {
	 width: 500px;
 }

.project-title {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 50px;
}

.project-info p {
 padding-bottom: 20px;
}

button {
    text-transform: capitalize;
    font-size: 16px;
	font-weight: bold;
}
	
.project-links {
	float: right;
	margin-left: 10px;
    padding: 10px 12px;
    border-width: 0px 0px 0px;
    border-radius: 0;
    border-style: solid;
    background-color: #ffffff;
}

.project-links:hover {
	color: #f7c271;
}

.learn-more {
    padding: 10px 12px;
    border-width: 2px 2px 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #ffffff;
}

.learn-more:hover {
		color: #d57cbe;
		border-color: #d57cbe;
}

.funky-banner {
	 background-image: linear-gradient(to right, #de86ca, #e9a7a5, #f9c97f);
}

.funky-banner section {
	display: flex;
	justify-content: center;
}

.funky-banner p {
	display: nowrap;
	padding: 0 10px;
	font-weight: bold;
	font-size: 22px;
}

footer {
	background-color: #f0f3f4;
}

footer section {
	padding: 20px 30px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

footer img {
	width: 30px;
	margin-left: 40px;
}
 
@media screen and (max-width: 1000px) {
	
	.justify-content {
		width: 750px;
	}
	
	header {
		height: 550px;
	}
	header img {
		margin-left: -15px;	
		width: 800px;
		margin-top: -100px;
	}
	
	.about section {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		margin-top: -140px;
	}
	
	.about img {
		height: 250px;
	}
	
	.about-info {
		padding-left: 0;
	}
	
	.about {
		height: 400px;
	}
}
