* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:sans-serif;
	letter-spacing:1px;
}

.justify-content {
	width: 1100px;
}

.projects {
	width: 1100px;
}

a {
    text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
} 

.page-nav a {
	margin-left: 50px;	
}

nav section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

nav {
	padding-left: 30px;
	padding-right: 30px;
}

.side-bar {
	display: flex;
	flex-direction: column;
}

.side-bar div {
	position: fixed;
}

header {
	background-color: #e7eaed;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.about {
	height: 350px;
	background-color: #ed4c53;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about img {
	height: 200px;
}


.project-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.projects {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.projects section {
	    width: 33%;
		padding-left: 10px;
		padding-right: 10px;
}

.projects img {
	width: 100%;
}

footer {
	height: 100px;
	padding-left: 30px;
	padding-right: 30px;
}

footer section {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
}

footer img {
	padding-left: 10px;
}

@media screen and (max-width: 900px) {
	
	.projects {
		display:flex;
		flex-direction: row;;
	}
	.projects section {
		display: flex;
		width: 100%;
	    padding-left: 10px;
	    padding-right: 10px;
		padding-bottom: 10px;
	}
	
	.projects div {
		padding-left: 50px;
		
	}
	
	.projects img {
		width: 40%;
	}
	
	.justify-content {
		width: 850px;
	}

	.projects {
		width: 850px;
	}
	
}
