$grey1: #222222;
$grey2: #817c7c;
$grey3: #5d5a5a;
$grey4: #cdcdcd;
$brandColour1: #de86ca;
$brandColour2: #f7b194;
$brandColour3: #f9c97f;
$backgroundColor: #f0f3f4;

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1.5px;
}

nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
    
    .navContainer {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 750px) {
            width: 100%;
            justify-content: center;
            padding: 15px 0;
        }

        a {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
            font-size: 18px;

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }
        
        li {
            display: inline-block;
            margin: 0 70px;

            @media screen and (max-width: 750px) {
                margin: 0 30px;
            }
    
            @media screen and (max-width: 500px) {
                margin: 0 5px;
            }

            .NavLink  {
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                padding-bottom: 0.40rem; 
                position: relative;
                padding-left: 8px;
                padding-right: 8px;

            }

            .NavLink::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                transition: width 0.25s ease-out;  
            }
            .NavLink:hover::before {
                width: 100%;
            }

            .linkAbout::before {
                background-color: $brandColour1;
            }

            .linkPortfolio::before {
                background-color: $brandColour2;
            }

            .linkContact::before {
                background-color: $brandColour3;
            }
        }

    }

    .cvButton {
        padding: 10px 12px;
		border-width: 2px 2px 2px;
		border-style: solid;
		background-color: #ffffff; 

        &:hover {
            font-weight: 900;	
            transform: scale(1.05);
        }  

        @media screen and (max-width: 750px) {
            display: none;
        }
    }
}