$grey1: #222222;
$grey2: #817c7c;
$grey3: #5d5a5a;
$grey4: #cdcdcd;
$brandColour1: #de86ca;
$brandColour2: #f7b194;
$brandColour3: #f9c97f;
$backgroundColor: #f0f3f4;

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1.5px;

    a {
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-size: 18px;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
    }

    h3 {
        font-size: 30px;
        text-transform: capitalize;
    
        @media screen and (max-width: 900px) {
            font-size: 24px;
        }
    }
    
    h4 {
        font-size: 24px;
        text-transform: capitalize;
        padding-bottom: 20px;
        padding-top: 20px;
    
        @media screen and (max-width: 900px) {
            font-size: 18px;
        }
    }
    
    p {
        font-size: 16px;
        line-height: 25px;
    
        @media screen and (max-width: 500px) {
            font-size: 14px;
            line-height: 23px;
        }
    }
    
    .SubInfo {
        // color: $subFontColour1;
        font-size: 20px;
        padding-bottom: 25px;
    
        @media screen and (max-width: 500px) {
            font-size: 16px;
        }
    }
    
    .paddingContainer {
        padding: 100px;
    
        @media screen and (max-width: 800px) {
            padding: 55px;
        }
    
        @media screen and (max-width: 600px) {
            padding: 20px;
        }
        
    }
        
    section {
        width: 100%;
    }
}

nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
    
    .navContainer {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 750px) {
            width: 100%;
            justify-content: center;
            padding: 15px 0;
        }
        
        li {
            display: inline-block;
            margin: 0 70px;

            @media screen and (max-width: 750px) {
                margin: 0 30px;
            }
    
            @media screen and (max-width: 500px) {
                margin: 0 5px;
            }

            .NavLink  {
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                padding-bottom: 0.40rem; 
                position: relative;
                padding-left: 8px;
                padding-right: 8px;

            }

            .NavLink::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                transition: width 0.25s ease-out;  
            }
            .NavLink:hover::before {
                width: 100%;
            }

            .linkAbout::before {
                background-color: $brandColour1;
            }

            .linkPortfolio::before {
                background-color: $brandColour2;
            }

            .linkContact::before {
                background-color: $brandColour3;
            }
        }

    }

    .cvButton {
        padding: 10px 12px;
		border-width: 2px 2px 2px;
		border-style: solid;
		background-color: #ffffff; 

        &:hover {
            font-weight: 900;	
            transform: scale(1.05);
        }  

        @media screen and (max-width: 750px) {
            display: none;
        }
    }
}

.introContentContainer {
    padding-top: 5%;
    padding-bottom: 12%;

    @media screen and (max-width: 850px) {
        padding-bottom: 55%;
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 75%;
    }

    img {
        width: 280px;
        margin-left: -4px;
        
        @media screen and (max-width: 800px) {
            width: 230px;
            padding-bottom: 5px;
        }
        
        @media screen and (max-width: 600px) {
            width: 140px;
            padding-bottom: 10px;
        }
    }
    
    h1 {
        font-family:Lust Didone;
        font-size: 120px;
        text-transform: capitalize;
        color: $grey1;
        letter-spacing: 2.5px;
        
        @media screen and (max-width: 800px) {
            font-size: 70px;
        }
        
        @media screen and (max-width: 500px) {
            font-size: 48px;
        }
    }
    
    h2 {
        font-size: 50px;
        padding-bottom: 45px;
        padding-top: 15px;
        color: $grey2;
        text-transform: capitalize;
        
        @media screen and (max-width: 800px) {
            font-size: 30px;
        }
        
        @media screen and (max-width: 500px) {
            font-size: 22px;
            padding-bottom: 30px;
        }
    }
    
    p {
        color: $grey3;
        font-size: 18px;
        
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
    }
    
}

#about {
    background-color: $backgroundColor;

    .aboutContentContainer {
        display: flex;
        align-items: center;

        @media screen and (max-width: 850px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @media screen and (max-width: 400px) {
            text-align: start;
            padding-bottom: 20%;
        }

        h3 {
            padding-bottom: 30px;
        }

        p {
            padding-bottom: 20px;
        }
    
        img {
            width: 20%;

            @media screen and (max-width: 850px) {
                width: 40%;
                margin-top: -200px;
                padding-bottom: 50px;
            }

            @media screen and (max-width: 600px) {
                width: 40%;
                margin-top: -120px;
                padding-bottom: 50px;
            }

            @media screen and (max-width: 500px) {
                width: 70%;
                margin-top: -100px;
                padding-bottom: 50px;
            }
        }

        .writtenInformation {
            padding-left: 100px;

            @media screen and (max-width: 850px) {
                padding-left: 0;
            }
        }

    } 
}

#portfolio {
    padding-top: 150px;
    padding-bottom: 50px;

    @media screen and (max-width: 600px) {
       padding-left: 10px;
       padding-right: 10px;
    }

    .portfolioTitle {
        text-align: center;
        padding-bottom: 70px;

        h3 {
            padding-bottom: 30px;
        }

        .swipeMessageContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 600px) {
                display: none;
             }

            #pointRightEmoji {
                padding-left: 5px;
                width: 3%;
    
                @media screen and (max-width: 700px) {
                    width: 5%;
                }
    
                @media screen and (max-width: 500px) {
                    width: 8%;
                }
            }

        }
    }

    .scrollingWrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0 0 50px 50px;

        @media screen and (max-width: 600px) {
            padding: 0; 
            overflow-x: hidden;
        }

        .project {
          vertical-align:top; 
          display: inline-block;
          margin-right: 70px;
          margin-top: 20px;
          margin-bottom: 50px;
          width:30%;

          @media screen and (max-width: 1300px) {
            width:45%;
        }

          @media screen and (max-width: 700px) {
            width:75%;
        }
  
          @media screen and (max-width: 600px) {
              width:100%;
              display: flex;
              flex-direction: column;
              padding: 10px;
          }
        }

        img {
            width: 100%;
            height: 300px;
            margin-bottom: 10px;
            border: 1px solid $grey1;
         }

        .projectInfo {
            p {
                padding-bottom: 20px;
                white-space: normal;    
            }

            .keyWords {
                display: flex;
                border-bottom: 1px solid $grey4;
                
                h5 {
                    margin-right: 20px;
                    margin-bottom: 25px;
                    font-weight: bold;
                    background-color: $brandColour3;
                    width: fit-content;
                    padding: 8px 10px;
                    border-radius: 25px;
                }
            }

            .projectLinks {
                float: right;
                margin-top: 15px;
                margin-left: 20px;
                padding: 10px 12px;
                background-color: #ffffff;
                cursor: pointer;
                font-weight: 900;
                text-decoration: none;
                display: inline-block;
                padding-bottom: 0.40rem; 
                position: relative;
            }

            .projectLinks::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                transition: width 0.25s ease-out;  
            }
    
            .projectLinks:hover::before {
                width: 100%;
            }

            .live::before {
                background-color: $brandColour1;
            }

            .gitHub::before {
                background-color: $brandColour3;
            }
        }      
    }   
}